:root {
  --main-color: #972e51;      /* Яркий маджента */
  --background-color: #d3d1d1; /* Глубокий угольный */
  --text-over-background: aliceblue;
}

*, html {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body{
    display: flex;
    overflow-x: hidden;
    align-items: center;
    background-color: var(--background-color);
    min-height: 100vh;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
    padding: 20px;

    align-items: center;

    width: 100%;
    background-color: var(--main-color);

}

.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
} /* Центрируем всё внутри хедера. */

nav{
    display: flex;
    flex-direction: row;
    margin-left: 30vw;
    font-size: 2rem;
    gap: 25px;
}

nav a{
    color: aliceblue;
}

.header-logo{
    max-width: 250px;
    width: 250px;
    height: auto;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87%;
}

.main-h{
    text-align: center;
}

.get-a-row{
    display: flex;
    flex-direction: row;
    height: 420px;
    width: auto;
}

.high-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 400px;
    background-color: blue;
}

.small-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;

}

.small-card{
    height: 190px;
    background-color: #972e51;
    margin: 20px;
}

footer{
    background-color: black;
    padding: 20px;
    color: var(--text-over-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    width: 100%;
}